.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border: 1px solid #000;
}

.header img {
  width: 125px;
}

.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
}
