@import './variables.css';

/* COMMON CSS */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: var(--border-black);
}

.header img {
  width: 125px;
}

.header .container > div {
  width: 35px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

.header .container {
  justify-content: space-between;
}

.page-container {
  flex: 1;
  flex-direction: column;
  padding: 25px 10px 80px;
}

.container.board {
  justify-content: flex-start;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
}

.form {
  width: 330px;
}

.form * {
  display: block;
  font-size: 15px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  border-radius: 5px;
  border: var(--border-black);
  padding: 6px 10px;
  background-color: var(--bg-default);
}

.form-group input::placeholder {
  color: var(--black);
}

.error {
  position: absolute;
  color: red;
  font-size: 11px;
  line-height: 1.2;
  margin-top: 2px;
}

.btn {
  color: var(--white);
  padding: 7px 0;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--main-purple);
  transition: all 0.2s ease-in-out;
}

.submit-btn {
  width: 100%;
  margin-top: 33px;
}

.linkto {
  margin: 0 auto;
  margin-top: 8px;
  font-size: 14px;
}

.active {
  background-color: var(--main-purple-dark);
}

.icon-goback {
  cursor: pointer;
}

/* COMMON CSS END */

/* 회원가입 페이지 */
.label {
  font-weight: bold;
}

.thumbnail-btn {
  width: 120px;
  height: 120px;
  background: var(--bg-grey);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border: var(--border-grey);
  cursor: pointer;
}

.has-image {
  background-size: cover;
  background-position: center;
}

.has-image i {
  display: none;
}

/* 게시글 목록 페이지 */
.board-header {
  width: 100%;
}

.greeting {
  text-align: center;
  font-size: 18px;
  margin: 30px 0;
}

.greeting b {
  font-weight: bold;
}

.new-post-btn {
  display: block;
  margin-left: auto;
  width: 140px;
  border-radius: 25px;
  font-size: 15px;
}

.new-post-btn:hover {
  background-color: var(--main-purple-dark);
}

.posts {
  width: 100%;
  margin-top: 30px;
}

.post-box {
  border-radius: 15px;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.post-box + div {
  margin-top: 10px;
}

.box-header {
  border-bottom: var(--border-grey);
  padding: 17px 15px;
}

.box-header h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-info {
  display: flex;
  gap: 10px;
  font-size: 13px;
}

.post-info li:last-child {
  margin-left: auto;
}

.box-footer {
  padding: 15px 15px;
  display: flex;
  align-items: center;
}

.box-footer img,
.post-meta img {
  border-radius: 50%;
  width: 30px;
}

.box-footer span {
  font-size: 14px;
  margin-left: 8px;
  font-weight: bold;
}

/* 게시글 작성 페이지 */
.board .form {
  width: 100%;
}

#postForm input#image {
  border: none;
  padding: 0;
  background: none;
}

#postForm textarea {
  height: 200px;
}

#postForm label[for='image'] {
  margin-top: 30px;
}

/* 게시글 상세 페이지 */
.post {
  width: 100%;
}

.post section + section {
  border-top: var(--border-grey);
  padding-top: 20px;
  margin-top: 20px;
}

.post-header {
  position: relative;
}

.post-header h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-meta {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.post-meta img {
  border-radius: 50%;
}

.post-meta .author {
  font-weight: bold;
  margin-left: 7px;
}

.post-meta .created-at {
  font-size: 13px;
  margin-left: 10px;
}

.action-btns {
  position: absolute;
  right: 0;
  bottom: 5px;
  display: flex;
  gap: 5px;
  font-size: 13px;
}

.action-btns button {
  border: 1px solid #999;
  border-radius: 8px;
  padding: 1px 7px;
}

.comment-item {
  position: relative;
}

.post-body .post-image {
  margin-bottom: 20px;
}

.post-body .post-text {
  font-size: 15px;
}

.count-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.count-box li {
  background: var(--bg-grey);
  font-weight: bold;
  text-align: center;
  border-radius: 18px;
  padding: 15px 0;
  width: 120px;
}

.count-box li span {
  display: block;
  font-size: 18px;
}

.comment-form {
  width: 100%;
  border-radius: 5px;
  padding-bottom: 7px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  overflow: hidden;
}

.comment-form .wrapper {
  padding-bottom: 10px;
  border-bottom: var(--border-grey);
}

#commentForm textarea {
  width: 100%;
  height: 90px;
  padding: 10px 15px;
  border: none;
}

#commentForm .submit-btn {
  width: 130px;
  margin-top: 7px;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 18px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 10px 0;
}

.comment-text {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 38px;
}

/* 삭제 모달 창 */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  text-align: center;
  padding: 30px 20px;
  border-radius: 12px;
  width: 320px;
  z-index: 2;
}

.modal p {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 8px 0;
}

.modal span {
  display: block;
  font-size: 14px;
  margin-bottom: 24px;
}

.modal-btns {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.modal-btns button {
  width: 120px;
  padding: 10px 0;
  border-radius: 12px;
}

#cancelBtn {
  background-color: #333;
  color: var(--white);
}

#confirmBtn {
  background-color: var(--main-purple);
  color: var(--black);
}

/* 회원정보 페이지 */
.mypage-btn img {
  border-radius: 50%;
}

.mypage-btn {
  position: relative;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 40px;
  right: 0;
  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: 8px;
  min-width: 150px;
}

.dropdown a {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
}

.dropdown a + a {
  border-top: var(--border-grey);
}

.dropdown a:hover {
  background: var(--bg-grey);
}

.show {
  display: block;
}
